.meal-block {
  box-shadow: 0 0 10px 2px #3333331a;
  padding: 30px;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.meal-preview {
  width: 100%;
  transition: opacity 0.3s ease;
}
.meal-preview:hover {
  opacity: 0.8;
}
.meal-name {
  margin: 0px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.meal-description {
  margin: 5px;
  font-size: 18px;
  text-align: center;
}
.add-to-fav-btn {
  border: 0;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  border-radius: 25px;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(243, 225, 255);
  transition: box-shadow 0.3s ease;
}
.hr {
  width: 100%;
}
.add-to-fav-btn:hover {
  box-shadow: 0 0 10px 5px #3333331a;
  cursor: pointer;
}
